language: go

go:
  - "1.23"
  - stable

os:
  - linux
  - osx

env:
  - GO111MODULE=on

before_install:
  - go mod download

script:
  - go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...
  - go build -v

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    on_success: never
    on_failure: change
